html,
body
  font-family: lato-normal, sans-serif
  height: 100%

.container 
  width: 1140px
  margin: 0 auto
  display: flex
  flex-direction: column
  min-height: 100%

.content
  flex-grow: 1

.row 
  //margin-right: -15px
  //margin-left: -15px
  margin-bottom: 20px
  display: flex
  flex-flow: row wrap

.col-2
  display: flex
  flex-wrap: wrap
  flex: 0 0 16.666667%
  max-width: 16.666667%
  position: relative

.col-3
  display: flex
  flex-wrap: wrap
  flex: 0 0 25%
  max-width: 25%
  position: relative
  height: 100%

.col-4
  display: flex
  flex-wrap: wrap
  //flex-direction: column
  //flex: 2 50%
  flex: 1 32%
  position: relative

.col-6 
  display: flex
  flex-wrap: wrap
  //flex-direction: column
  //flex: 2 50%
  flex: 0 49%
  position: relative

.col-8
  display: flex
  flex-wrap: wrap
  //flex-direction: column
  //flex: 2 50%
  flex: 0 65%
  position: relative

.col-9
  display: flex
  flex-wrap: wrap
  flex: 0 0 75%
  max-width: 75%
  position: relative

.col-10
  display: flex
  flex-wrap: wrap
  flex: 0 0 83.333333%
  max-width: 83.333333%
  position: relative

.col-12 
  display: flex
  flex-wrap: wrap
  //flex-direction: column
  flex: 1 100%
  position: relative

.justify-content-center
  justify-content: center