//*
//**********************************************************
//  margins
//***********************************************************
//*
.ml-15
  margin-left: 15px

.mr-21 
  margin-right: 21px

.mt-3
  margin-top: 3px

.mt-6
  margin-top: 6px

.mt-20
  margin-top: 20px

.mt-98 
  margin-top: 98px

.mb-39
  margin-bottom: 39px

.mb-50
  margin-bottom: 50px

.my-15
  margin-top: 15px
  margin-bottom: 15px
