//
//   шрифты и прочие элементы отвечающие за текст
//

@font-face
  font-family: 'lato-normal'
  src: url('fonts/Lato-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'lato-light'
  src: url('fonts/Lato-Light.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'lato-italic'
  src: url('fonts/Lato-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic


@font-face 
  font-family: 'lato-bold'
  src: url('fonts/Lato-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'lato-black'
  src: url('fonts/Lato-Black.ttf') format('truetype')
  font-weight: bold
  font-style: normal


.f-14px 
  font-size: 14px


.f-16px 
  font-size: 16px


.f-18px 
  font-size: 18px


.uppercase 
  text-transform: uppercase
