@import 'layouts';
@import 'typography';
@import 'paddings';
@import 'margins';
@import 'variables';

.header {
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  height: 100px;
}

.header-right {
  display: flex;
  position: relative;
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  .cart__li .cart__block {
    display: none;
  }
  .cart__li:hover .cart__block {
    display: flex;
  }
}

.cart__block {
  position: absolute;
  width: 262px;
  background-color: white;
  top: 70px;
  /* right: 0px; */
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  &::after,
  &::before {
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0.5em;
  }

  &::after {
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1;
    margin-top: 1px;
  }

  &::before {
    border-bottom: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -3px;
    margin-left: 0px;
    z-index: -100;
  }
  span {
    text-align: center;
    padding-bottom: 10px;
  }
  hr {
    width: 100%;
    background-color: #ededed;
  }
  .remove {
    display: flex;
    margin-left: 55px;
    a {
      color: #636363;
      &:hover {
        color: red;
      }
    }
  }
  .cart__block__heading {
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Lato-bold, sans-serif;
  }
  .cart__block__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .info_block{
      .name{
        font-family: Lato-bold;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #222222;
        padding: 0px 0px 5px 0;
      }
      .stars{
        i{
          font-size: 12px;
          color: #e4af48;
          padding: 0px 0px 10px 0;
        }
      }
      .price{
        font-family: Lato-Regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f16d7f;
      }
    }
  }
  .cart_totalblock{
    display: flex;
    justify-content: space-between;
    font-family: Lato-bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    padding-top: 19px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }
  .cart__block__checkout {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    //height: 60px;
    a {
      padding: 10px 0px 10px 0px;
      display: flex;
      //text-align: center;
      justify-content: center;
      text-decoration: none;
      &:first-child {
        font-family: Lato-bold;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f16d7f;
        border: 1px solid #f16d7f;
        margin-bottom: 5px;
      }
      &:last-child {
        font-family: Lato-bold;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        border: 1px solid #4a4a4a;
        margin-top: 5px;
      }
      &:hover {
        background-color: #f16d7f;
        color: white;
        border: 1px solid #f16d7f;
      }
    }
  }
}

.flex {
  display: flex;
  height: 100%;
}

.space-between {
  justify-content: space-between;
}

.jcenter {
  justify-content: center;
}

.h100 {
  height: 100%;
}

.align-center {
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logo > h3 {
  /* margin-right: 37px; */
  font-family: Lato, sans-serif;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  /* text-decoration: none; */
  padding-top: 10px;
  margin-left: 10px;
}

.red-d {
  font-family: Lato, sans-serif;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  margin-right: 37px;
  display: block;
  //padding-top: 6px;
  padding-top: 7px;
}

.my-acc {
  background-color: #f16d7f;
  padding: 3px 11px;
  //width: 130px;
  //height: 38px;
  margin-left: 26px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: Lato-Regular, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.13;
  letter-spacing: 0.4px;
  display: flex;
  border-radius: 3px;
}

.nav {
  height: 51px;
}

.menu {
  list-style-type: none;
  color: #222222;
  font-size: 14px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 26px; /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 0px;
  a {
    padding: 0px 24px;
    display: block;
    font-family: Lato, sans-serif;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
  }
}

details {
  display: inline-block !important;
  position: relative;
}

summary {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
  display: inline-block;
  padding-top: 9px;
  padding-left: 10px;
  left: 4px;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\25bc';
  font-size: 12px;
}

input[type="search"] {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 38px;
  padding-left: 15px;
}

.search-block {
  position: relative;
  display: inline-block;
  width: 317px;
}

details[open] summary::after {
  content: '\25BC';
}

.category {
  //list-style-type: none;
  display: flex;
  position: absolute;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 10px 10px 10px 15px;
  //top: 21px;
  top: 37px;
  left: 4px;
  width: 200px;
  flex: 1 1 100%;
  flex-direction: column;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 13px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 13px -2px rgba(0, 0, 0, 0.75);
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    left: 27%;
    width: 0;
    height: 0;
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    border-width: 8px;
  }
  .category_heading {
    font-size: 14px;
    font-family: Lato-Regular;
    border-bottom: 1px solid #afb6bf;
    padding: 3px 0 6px 3px;
  }
  .category_items {
    margin-bottom: 20px;
    padding-left: 8px;
    a {
      display: block;
      padding: 3px 0 3px 0;
      text-decoration: none;
      font-family: Lato-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.4px;
      color: #4f4f4f;
      &:hover {
        color: #f16d7f;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.parent-nav {
  background-color: white;
}

.the-brand {
  background-color: #e8e8e8;
  .menu > li {
    position: relative;
    .menu__brandblock {
      display: none;
    }
    &:hover {
      position: relative;
      .menu__brandblock {
        display: flex;
      }
    }
  }
}

.menu__brandblock {
  box-shadow: 0 3px 6px rgba(0,0,0,0.08);
  border: 1px solid #e9e9e9;
  padding-bottom: 20px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  display: flex;

  .menu__brandblock__item{
    width: 237px;
    padding-left: 23px;
    padding-right: 23px;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    h3{
      border-bottom: 2px solid #e8e8e8;
      font-family: Lato-Regular, sans-serif;
      font-size: 14px;
      line-height: 2.29;
      letter-spacing: 0.4px;
      color: #232323;
      padding-bottom: 0px;
      margin-bottom: 10px;
    }
    a{
      font-family: Lato-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.4px;
      color: #646464;
      padding: 0;
      &:hover{
        color: #f16d7f;
      }
    }
  }
}

.img-mega-flex{
  display: flex;
}

.brand-img {
  background-image: url("../img/brand-bg.jpg");
  background-position: -227px -52px;
  height: 614px;
}

.btn-search-h {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 36px;
  height: 36px;
  display: inline-block;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.text-brand {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  font-family: Lato-Black, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0 0 80px 0;
  h2 {
    color: #222222;
    font-size: 60px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: 1.5px;
  }
  h3 {
    color: #222222;
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
  }
  span {
    color: #f16d7f;
    transform: scaleY(1.0009);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

.card-1 {
  background-image: url("../img/1-card.jpg");
  background-repeat: no-repeat;
  //background-position: -221px -51px;
  width: 100%;
  height: 542px;
  margin-right: 0;
}

.card-2 {
  background-image: url("../img/2-card.jpg");
  background-repeat: no-repeat;
  //background-position: -221px -51px;
  width: 100%;
  height: 261px;
  margin-right: 0;
}

.card-3 {
  background-image: url("../img/3-card.jpg");
  background-repeat: no-repeat;
  //background-position: -221px -51px;
  width: 100%;
  height: 261px;
  margin-left: 8px;
}

.card-4 {
  background-image: url("../img/4-card.jpg");
  background-repeat: no-repeat;
  //background-position: -221px -51px;
  width: 100%;
  height: 542px;
  margin-left: 8px;
}

.card-1 .child-block {
  background-color: white;
  width: 173px;
  height: 80px;

}

.card-2 .child-block {
  background-color: white;
  width: 223px;
  height: 80px;
}

.card-3 .child-block {
  background-color: white;
  width: 160px;
  height: 80px;
}

.card-4 .child-block {
  background-color: white;
  width: 178px;
  height: 80px;
}

#offer-block .row {
  margin-right: -15px;
  margin-left: -15px;
}

#offer-block .first-text {
  font-family: lato-black, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
}

#offer-block .second-text {
  font-family: lato-black, sans-serif;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  letter-spacing: 0.8px;
  color: #f16d7f;
}

.card-1 > .child-block > .text-block {
  margin-top: 26px;
  padding: 12px 0px 0px 18px;
}

.card-2 > .child-block > .text-block {
  margin-top: 26px;
  padding: 11px 0px 0px 18px;
}

.card-3 > .child-block > .text-block {
  margin-top: 28px;
  padding: 10px 0px 0px 18px;
}

.card-4 > .child-block > .text-block {
  margin-top: 26px;
  padding: 13px 0px 0px 18px;
}

#fetured-items {
  margin-top: 98px;
  .first-text {
    font-family: Lato-Bold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 0.8px;
    text-align: center;
    color: #222222;
  }
  .second-text {
    font-family: Lato-Bold;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.4px;
    text-align: center;
    color: #9f9f9f;
    padding-bottom: 47px;
  }
}

.fetured-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .fetured-item {
    width: 263px;
    height: 364px;
  }
}

.fetured-item {
  position: relative;
  &:hover {
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
    a .img-item {
      filter: brightness(50%);
    }
    .pos-add-to-cart .add-to-cart {
      display: block;
    }
  }
}

.fetured-item {
  a {
    text-decoration: none;
  }
  p {
    font-family: lato-Regular;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    text-transform: uppercase;
    padding: 3px 0px 0px 15px;
  }
  span {
    font-family: lato-bold;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 0px 0px 0px 16px;
  }
}

.fetured-item {
  div.pos-add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    a img {
      position: relative;
      top: 5px;
      right: 5px;
    }
  }
}

.add-to-cart {
  display: none;
  position: absolute;
  top: 96px;
  padding: 7px 14px 14px 14px;
  font-family: lato-bold;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: solid 1px #ffffff;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  &:hover {
    background-color: rgba(224, 224, 224, 0.68);
  }
}

.fetured-all-products {
  margin: 60px 0 112px 0;
  padding: 0px 15px 0px 18px;
  background-color: #f16d7f;
  font-family: lato-bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.38;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

#offer {
  height: 529px;
  margin-bottom: 95px;
  .col-8,
  .col-4 {
    height: 529px;
    overflow-x: hidden;
  }
}

#offer-product {
  .container {
    height: 341px;
    flex-grow: 1;
    justify-content: center;
  }
  .row {
    //height: 341px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
  #offerblock {
    flex-direction: column;
    .text-block {
      padding-top: 0;
      text-align: center;
      padding-right: 0;
      .first-text {
        text-align: center;
        padding-bottom: 10px;
      }
      .second-text {
        text-align: center;
      }
    }
    .img-offer-block {
      text-align: center;
    }
  }
}

#offer .offer-big-text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: lato-bold;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin-top: 134px;
  margin-left: 37px;
  h2 {
    font-size: 53.5px;
    margin: 0;
    //letter-spacing: 1.3px;
    span {
      font-size: 53.5px;
      //letter-spacing: 1.3px;
      color: #f16d7f;
    }
  }
  h3 {
    font-size: 32px;
    margin: 0;
  }
}

.bg-offer-block {
  background-color: #222224;
}

#offerblock {
  display: flex;
  flex-direction: row;
  div > img {
    padding: 33px;
  }
  .img-offer-block {
    padding-top: 13px;
  }
  .text-block {
    padding-bottom: 0px;
    padding-top: 50px;
  }
}

.text-block {
  padding-top: 55px;
  padding-bottom: 62px;
  padding-right: 43px;
  .first-text {
    font-family: lato-bold;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fbfbfb;
  }
  .second-text {
    font-family: lato-light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    text-align: left;
    color: #fbfbfb;
  }
}

#subscribe {
  background: linear-gradient(rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5)), url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 438px;

  .controls {
    //left: 36%;
    //bottom: 10%;
    //margin-left: 0px;
    //position: relative;
    left: 36%;
    bottom: 35%;
    position: absolute;
  }

  label {
    cursor: pointer;
    display: inline-block;
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin: 25px 0px 0 9px;
    position: relative;

    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;

    &:hover,
    #slide1:checked ~ .controls label:nth-of-type(1),
    #slide2:checked ~ .controls label:nth-of-type(2) {
      //background: #ddd;
      background-color: #f16d7f;
    }
  }
}

.main-subscribe {
  border-right: 1px solid #ffffff;
  //height: 89vh;
  height: 438px;
}

.cards-block {
  ul {
    list-style-type: none;
  }
  li {

  }
  input {
    display: none;
  }
}

.card-block {
  display: none;
  padding: 93px 0 0 104px;
  .text-block {
    padding-top: 8px;
    padding-bottom: 62px;
    padding-right: 28px;
    padding-left: 28px;
    .first-text {
      font-family: Lato;
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.63;
      //letter-spacing: 0.4px;
      text-align: left;
      color: #222224;
    }
    .second-text {
      font-family: Lato-Light;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      //letter-spacing: 0.3px;
      text-align: left;
      color: #222224;
      .red-text {
        font-family: lato-bold;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: 0.4px;
        text-align: left;
        color: #f16d7f;
      }
    }
  }
}

.ava-block {
  img {
    width: 83px;
    height: 83px;
    border-radius: 50em;
  }
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2) {
  //background: #ddd;
  background-color: #f16d7f;
}

#slide1:checked ~ .card-block.slide1,
#slide2:checked ~ .card-block.slide2 {
  display: flex;
}

.subscribe-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 108px;

  .first-text {
    font-family: lato-normal;
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 54px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }

  .second-text {
    font-family: lato-normal;
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }

  .input {
    display: flex;
    align-items: center;
  }

  .button {
    height: 44px;
    border: none;
  }

  #email {
    text-indent: 5%;
    border-radius: 50px 0 0 50px;
    padding-left: 12px;
    background-color: #e1e1e1;
    width: 255px;
    height: 46px;
    font-family: lato-normal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.86;
    letter-spacing: 0.4px;
    color: rgba(34, 34, 36, 0.67);

  }

  #submit {
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    font-family: lato-normal;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 45px; /* Приближение из-за подстановки шрифтов */
    transition: background .3s ease-in-out;
  }

  #submit:hover {
    background: #d45d7d;
  }

  input:focus {
    outline: none;
    //outline: 2px solid #E86C8D;
    box-shadow: 0 0 2px #E86C8D;
  }
}

.btn-subscribe-block {
  margin-top: 25px;
}

footer {
  > .container {
    > .row {
      display: flex;
      justify-content: space-between;
      margin-top: 85px;
    }
  }
  .text-block-info {
    width: 427px;
    height: 182px;
    font-family: Lato-light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #898989;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menu-footer {
  margin-top: 31px;
  > a {
    font-family: Lato-bold;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.5px;
    text-align: right;
    color: #f16d7f;
    text-decoration: none;
  }
}

.footer-main-link {
  list-style-type: none;
  padding: 0;
  > li {
    > a {
      font-family: lato-normal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.63;
      letter-spacing: 0.4px;
      color: #898989;
      //line-height: 3.69;
      text-decoration: none;
      transition: color .5s ease-in-out;
      &:hover {
        color: #f16d7f;
      }
    }
  }
}

.copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.63;
  letter-spacing: 0.4px;
}

.allright {
  background-color: #e6e6e6;
  height: 79px;
  .row {
    //margin-top: 67px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: 78px;
  }
}

.social-links {
  a {
    font-size: 32px;
    color: #ffffff;
    margin: 0 2px 0 2px;
    &:hover {
      color: #f16d7f;
    }
  }
}

.breadcrumbs {
  background-color: #f8f3f4;
  height: 148px;
  .container {
    flex-grow: 1;
    justify-content: center;
  }
  .row {
    justify-content: space-between;
    margin-bottom: 0;
  }
  .active-section {
    font-family: Lato-Black;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    color: #f16d7f;
  }
  .path {
    font-family: Lato-light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #636363;
    a {
      text-decoration: none;
      color: #636363;
    }
    span {
      font-family: Lato-bold;
      font-weight: bold;
      color: #f16d7f;
    }
  }
}

#production {
  padding-top: 59px;
  summary {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    outline: none;
    width: 243px;
    height: 37px;
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 16px;
    border-left: 5px solid #ef5b70;
    border-bottom: solid 1px #ebebeb;
    color: #6f6e6e;
    border-right: none;
    border-top: none;
    background: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: '\25BC';
    padding-left: 0.5em;
    font-size: 12px;
    top: -20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  details[open] summary {
    color: #ef5b70;
  }
  details[open] summary::after {
    content: '\25B2';
  }

  .category-prod {
    list-style-type: none;
    padding-left: 19px;
    li > a {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.36;
      letter-spacing: normal;
      text-align: left;
      color: #6f6e6e;
      text-decoration: none;
    }
  }
  .first-text,
  .second-text,
  .third-text {
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #6f6e6e;
    margin-bottom: 15px;
  }
  .first-filter {
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #6f6e6e;
  }
  .second-filter {
    flex-direction: row;
    display: flex;
    label {
      font-family: OpenSans;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: #6f6e6e;
    }

    .first,
    .second,
    .third,
    .four {
      display: flex;
      flex-direction: column;
      padding-top: 5px;
    }
    .first,
    .second,
    .third {
      margin-right: 22px;
    }
  }
  .fetured-block {
    flex-grow: 1;
  }
}

.prices-filter {
  justify-content: space-between;
  padding-top: 5px;
}

.third-filter {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #6f6e6e;
  .row {
    margin-bottom: 0;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.25px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #f16d7f;
    border-radius: 10.5px;
    border: 0.7px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0), 0px 0px 1.8px rgba(255, 26, 26, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
    border-radius: 50px;
    background: #f16d7f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.95px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f38493;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #f16d7f;
    border-radius: 10.5px;
    border: 0.7px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0), 0px 0px 1.8px rgba(255, 26, 26, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
    border-radius: 50px;
    background: #f16d7f;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ef566b;
    border: 0.7px solid rgba(1, 1, 1, 0);
    border-radius: 21px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: #f16d7f;
    border: 0.7px solid rgba(1, 1, 1, 0);
    border-radius: 21px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0), 0px 0px 1.8px rgba(255, 26, 26, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 21px;
    border-radius: 50px;
    background: #f16d7f;
    cursor: pointer;
    height: 6.5px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #f16d7f;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #f38493;
  }

}

.first-filter-block,
.second-filter-block,
.third-filter-block {
  flex-grow: 1;
}

.filters-block-justify {
  justify-content: space-between;
  //align-items: center;
  width: 100%;
  padding-top: 9px;
}

#pagination-block {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #ebebeb;
  .pagination {
    font-family: Lato-light;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #c4c4c4;
    padding: 5px 13px 2px 13px;
    display: inline-block;
    .three-points {
      padding: 0;
    }
    a {
      color: #c4c4c4;
      float: left;
      padding: 0px 13px;
      text-decoration: none;
    }
    a:hover {
      color: #ef5b70;
    }
    a:first-child {
      padding-left: 0;
      padding-right: 13px;
    }
    a:nth-last-child(2) {
      padding-left: 0;
    }
    a:nth-last-child(4) {
      padding-right: 0;
    }
    a:last-child {
      padding-right: 0;
      padding-left: 13px;
    }
  }
}

.view-all {

  .view-all-btn {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ef5b70;
    font-family: Lato-light;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #ef5b70;
    padding: 7px 22px 9px 22px;
    text-decoration: none;
  }
}

/*   w3c slider */
.w3-display-container {
  position: relative;
  background-color: #f7f7f7;
  border: solid 1px #eaeaea;
  height: 765px;
}

.w3-black, .w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-grey, .w3-hover-grey:hover {
  color: #fff !important;
  background-color: #dcdada !important;
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-btn, .w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-btn, .w3-button {
  border: none;
  display: inline-block;
  padding: 15px 19px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.mySlides {
  width: 100%;
  height: 724px;
  object-fit: contain;
}

/*  end w3 slider */

#woman-collection {
  .container {
    position: relative;
    top: -90px;
    height: 725px;
    background-color: #ffffff;
    border: solid 1px #eaeaea;
  }
  .woman-collection {
    margin-top: 67px;
    margin-bottom: 3px;
    width: 100%;
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #f16d7f;
    span {
      padding-bottom: 13px;
      border-bottom: solid 1px #eaeaea;
      z-index: -1;
    }
    hr {
      width: 63px;
      height: 3px;
      background-color: #ef5b70;
      border: solid 1px #eaeaea;
      z-index: 1;
      position: relative;
    }
  }

  .text-block {
    text-align: center;
    width: 100%;
    padding-bottom: 22px;
  }
}

.second-block-woman {
  width: 100%;
  font-family: Lato-Black;
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.param {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  .first {
    margin-right: 20px;
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    span {
      color: #b9b9b9;
    }
  }
  .second {
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    margin-left: 20px;
    span {
      color: #b9b9b9;
    }
  }
}

.price-woman-col {
  width: 100%;
  font-family: Lato-bold;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ef5b70;
  margin-top: 32px;
  hr {
    width: 642px;
    height: 0px;
    border: solid 1px #eaeaea;
    margin-top: 40px;
    margin-bottom: 58px;
  }
}

.selectable-settings {
  display: flex;
}

.add-cart-woman-collection {
  width: 100%;
  display: flex;
  justify-content: center;
  .label {
    font-family: Lato-Bold;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }
  form {
    width: 578px;
  }
  .selectable-settings {
    justify-content: space-around;
  }

  .third-block {
    .option {
      margin-top: 10px;
    }
  }
}

/*   color select     */

.select-sim {
  width: 144px;
  height: 35px;
  line-height: 22px;
  vertical-align: middle;
  position: relative;
  background: white;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 10px;
  label {
    font-family: Lato-Regular;
    color: #bcbcbc;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
  }
}

.select-sim::after {
  content: "\2c5";
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bcbcbc;
  //font-family:arial;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}

.select-sim:hover::after {
  content: "";
}

.select-sim:hover {
  overflow: visible;
}

.select-sim:hover .options .option label {
  display: inline-block;
}

.select-sim:hover .options {
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  //height:88px;
  height: 125px;
  //overflow-y:scroll;
  overflow-y: auto;
}

.select-sim .options .option {
  overflow: hidden;
}

.select-sim:hover .options .option {
  height: 24px;
  overflow: hidden;
}

.select-sim .options .option img {
  //vertical-align:middle;
}

.select-sim .options .option {
  span {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
  }
  .select-red {
    background-color: red;
  }
  .select-green {
    background-color: green;
  }
  .select-blue {
    background-color: blue;
  }
  .select-yellow {
    background-color: yellow;
  }
  .select-pink {
    background-color: pink;
  }
}

.select-sim .options .option label {
  display: none;
}

.select-sim .options .option input {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  /* fix specific for Firefox */
  position: absolute;
  left: -10000px;
}

.select-sim .options .option input:checked + label {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-left: 13px;
}

.select-sim:hover .options .option input + label {
  display: block;
  margin-top: 8px;
  padding-left: 13px;
}

.select-sim:hover .options .option input:checked + label {
  background: #fffff0;
}

/* end color select  */

#quantity {
  width: 144px;
  height: 33px;
  line-height: 22px;
  vertical-align: middle;
  position: relative;
  background: white;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 13px;
}

#you_make_also {
  .fetured-text {
    .first-text {
      font-family: Lato-Black;
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.83;
      letter-spacing: normal;
      text-align: center;
      color: #4d4d4d;
      margin-bottom: 72px;
      margin-top: 30px;
    }
  }
  .img-item {
    object-fit: contain;
  }
  .card-2-ymk {
    position: relative;
    top: -12px;
  }
}

.submit-block {
  display: flex;
  justify-content: center;
  padding-top: 27px;
}

.submit-woman-collection {
  background-color: #ffffff;
  border: solid 1px #ef5b70;
  font-family: Lato-bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ef5b70;
  padding: 16px 208px 16px 208px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 26px;
    height: 24px;
    padding-right: 10px;
    //background-color: #ef5b70;
  }
}

#productdetails {
  margin-top: 86px;
  margin-bottom: 78px;
  hr {
    width: 100%;
    border: solid 1px #eaeaea;
  }
  .final-three-block .third-block hr {
    width: 88%;
    border: solid 1px #eaeaea;
    margin-left: 40px;

  }
}

.product-desciption-block {
  display: flex;
  justify-content: space-between;
  font-family: Lato-bold;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: -0.2px;
  color: #222222;
  margin-bottom: 5px;
  .product-desciption-item {
    flex: 0 1 12.9%;
    display: flex;
    justify-content: center;
    &:first-child {
      flex: 1 1 auto;
      justify-content: flex-start;
    }
    &:last-child {
      flex: 0 1 7%;
      justify-content: flex-end;
    }
  }
}

.block-main-description {
  padding-left: 20px;
  .title {
    font-family: Lato-Regular;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .params {
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #575757;

    span {
      font-weight: 300;
      color: #6f6e6e;
    }
  }
}

.product-item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  .product-item-col {
    flex: 0 1 12.9%;
    display: flex;
    justify-content: center;
    font-family: Lato-Regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #656565;
    .option input {
      width: 54px;
      height: 30px;
      text-align: center;
      font-family: Lato;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #656565;
    }
    .remove-item {
      padding-right: 18px;
      color: #c0c0c0;
      &:hover {
        color: red;
      }
    }
    &:first-child {
      flex: 1 1 auto;
      justify-content: flex-start;
    }
    &:last-child {
      flex: 0 1 7%;
      justify-content: flex-end;
    }
  }
}

.double-button {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 77px;
  a,
  a:visited {
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    text-decoration: none;
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding: 20px 38px 18px 39px;
  }
}

.final-three-block {
  display: flex;
  justify-content: space-between;
  .first-block {
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    flex: 1;
    .first-label {
      font-family: Lato-bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
    select {
      width: 100%;
      height: 45px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      margin-bottom: 20px;
      font-family: Lato-light;
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #b1b1b1;
      padding-left: 11px;
    }
    input {
      width: 95.5%;
      height: 45px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      margin-bottom: 20px;
      padding-left: 14px;
      font-family: Lato-light;
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #b1b1b1;
      padding-left: 15px;

    }
  }

  .second-block {
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    flex: 1;
    margin-left: 15px;
    .first-label {
      font-family: Lato-bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
    input {
      width: 95.5%;
      height: 45px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      margin-bottom: 20px;
      padding-left: 14px;
      font-family: Lato-light;
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #b1b1b1;
      padding-left: 15px;

    }
    .second-text-label {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .third-block {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    flex: 1;
    background-color: #f5f3f3;
    padding-right: 40px;
    height: 214px;
  }
}

.get-quote,
.apply-coupon {
  background-color: #ffffff;
  width: 100px;
  border: solid 1px #eaeaea;
  padding-top: 12px;
  padding-right: 14px;
  padding-left: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  font-family: Lato-bold;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.sub-total {
  font-family: Lato-Regular;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #4a4a4a;
  margin-top: 36px;
  margin-bottom: 8px;
  span {
    margin-left: 15px;
  }
}

.grand-total {
  font-family: Lato-bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #222222;
  margin-bottom: 10px;
  span {
    color: #f16d7f;
    margin-left: 15px;
  }
}

.proceed-ch {
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  padding: 18px 0 18px 0;
  margin-top: 6px;
}

#checkout {
  margin-top: 78px;
  margin-bottom: 82px;
  .row {
    margin: 0;
  }
  hr {
    height: 0px;
    color: #e8e8e8;
    width: 100%;
  }
  .radio__block {
    label {
      font-family: Lato-Regular;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #222222;
      padding-left: 8px;
      text-transform: uppercase;
    }
    [type="radio"] {
      position: relative;
      top: 2px;
    }
    margin-bottom: 30px;
  }
  .block__twocols {
    flex-direction: row;
    display: flex;
    flex: 1;
    margin-bottom: 52px;
    .col-6 {
      flex-direction: column;
      flex: 1 1 100%;
      display: flex;
    }
  }
}

.block__heading_first {
  flex: 1 1 100%;
  font-family: Lato-bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  margin-bottom: 30px;
}

.block__heading {
  flex: 1 1 100%;
  font-family: Lato-bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

.block__twocols__maintext {
  font-family: Lato-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  margin-bottom: 5px;
}

.block__twocols__smalltext {
  font-family: Lato-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #b3b2b2;
  margin-bottom: 25px;
}

.block__twocols__smalltext2 {
  font-family: Lato-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #b3b2b2;
  margin-bottom: 0px;
}

.question__block__smalltext {
  font-family: Lato-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #b3b2b2;
  margin-bottom: 5px;
}

.question__block {
  margin-bottom: 25px;
}

#register {
  label {
    sub {
      color: red;
      bottom: 0.35em;
    }
  }
  #email1,
  #password {
    border: solid 1px #eaeaea;
    width: 390px;
    height: 30px;
    margin-top: 11px;
  }
  .required__fields {
    font-family: Lato-Regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #ff0d0d;
  }
  #send {
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    padding: 13px 50px 13px 50px;
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-decoration: none;
  }
}

.btn-checkout {
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  padding: 13px 50px 13px 50px;
  font-family: Lato-bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-decoration: none;
}

.block__inline {
  display: flex;
  .block__inline__forgot {
    justify-content: center;
    height: 100%;
    align-self: center;
  }
  a {
    background-color: #ffffff;
    font-family: Lato-bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-decoration: none;
    padding-left: 30px;
  }
}